---
import Layout from '@layouts/Layout.astro'
import Cta from '@components/Cta.svelte'

const { slug } = Astro.params;

let res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?slug=${slug}&_embed`)
let post = await res.json()

if (!post[0])
  return Astro.redirect('/404')
---

<Layout
	title={`${post[0].title.rendered} - AHL Properties`}
  description={post[0].yoast_head_json.description}
  type={post[0].yoast_head_json.og_type}
  author={post[0].yoast_head_json.author}
  og_width={post[0].yoast_head_json.og_image[0].width}
  og_url={Astro.request.url}
  og_height={post[0].yoast_head_json.og_image[0].height}
  og_image={post[0].yoast_head_json.og_image[0].url}
  canonical={Astro.request.url}
  publish_time={post[0].yoast_head_json.article_published_time}
  modified_time={post[0].yoast_head_json.article_modified_time}
  og_image_type={post[0].yoast_head_json.og_image[0].type}
  estimate_read_time={post[0].yoast_head_json.twitter_misc["Est. reading time"]}>
	<section class="bg-blue-800 h-[32em] w-full relative bg-cover h-full" style={`background-image: url(\'${post[0]._embedded["wp:featuredmedia"][0].source_url}\');`}>
	</section>
	<h1 class="relative text-4xl mt-12 text-center font-bold p-4">
		{post[0].title.rendered}
	</h1>
	<div class="grid place-items-center mt-6 mb-24 p-4">
		<div class="prose prose-lg max-w-4xl" set:html={post[0].content.rendered}></div>
	</div>
	<Cta client:load />
</Layout>
