---
import Layout from '@layouts/Layout.astro'
import Cta from '@components/Cta.svelte'

const { slug } = Astro.params;

let res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?slug=${slug}&_embed`)
let post = await res.json()
---

<Layout title={post[0].title.rendered} description="">
	<section class="bg-blue-800 h-[32em] w-full relative bg-cover h-full" style={`background-image: url(\'${post[0]._embedded["wp:featuredmedia"][0].source_url}\');`}>
	</section>
	<h1 class="relative text-4xl mt-12 text-center font-bold p-4">
		{post[0].title.rendered}
	</h1>
	<div class="grid place-items-center mt-6 mb-24 p-4">
		<div class="prose prose-lg max-w-4xl" set:html={post[0].content.rendered}></div>
	</div>
	<Cta client:load />
</Layout>
