---
import Layout from "@layouts/Layout.astro"
import Cta from "@components/Cta.svelte"

//Load properties
const res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=10&_embed&order=asc`)
const data = await res.json()
---

<Layout title="Properties at AHL Company" description="">
	<section class="bg-blue-800 h-[36em] w-full bg-cover bg-black bg-opacity-80" style="background-image: url('/images/banner-1.jpg');">
		<h1 class="text-white text-6xl pt-72 text-center font-bold uppercase">
			Properties
		</h1>
	</section>
	<section class="py-6 mb-2 -mt-24 container mx-auto">
		<div class="grid sm:grid-cols-2 gap-6">
			{
				data.map((item) => (
					<a href={`/properties/${item.slug}`} class="block rounded-lg p-4 bg-white shadow-sm transition hover:scale-90">
					  <img alt={item.acf.property_name} src={item._embedded["wp:featuredmedia"][0].media_details.sizes.large.source_url} class="h-56 w-full rounded-md object-cover transition hover:scale-90" />
					  <p class="text-xl text-center mt-2 uppercase text-blue-800 transition hover:scale-110">
					  	{item.acf.property_location}
					  </p>
					  <h2 class="text-4xl text-center mt-2 uppercase text-blue-800 font-serif transition hover:scale-110">
					  	{item.acf.property_name}
					  </h2>
					  <p class="text-gray-600 mt-2 hover:text-lg">
					  	{item.acf.property_brief_description}
					  </p>
					  <div class="grid grid-cols-2 gap-4">
					  	<div class="flex flex-col">
					  		<p class="text-gray-600 mt-2 text-lg uppercase text-center">
					  			Total Cost
					  		</p>
					  		<button class="p-2 text-white bg-yellow-600 transition hover:scale-110">
					  			{item.acf.property_price}
					  		</button>
					  	</div>
					  	<div class="flex flex-col">
					  		<p class="text-gray-600 mt-2 text-lg uppercase text-center">
					  			Booking Fee
					  		</p>
					  		<button class="p-2 text-white bg-blue-800 transition hover:scale-110">
					  			{item.acf.property_booking_fee}
					  		</button>
					  	</div>
					  </div>
					</a>
				))
			}
		</div>
	</section>
	<Cta client:load  />
</Layout>
